.bounding-box {
    position: absolute;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 0 0 2px #149df2 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}