.bounding-box {
    position: absolute;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 0 0 2px #149df2 inset;
    border-radius: .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#inputImage {
    width: 80vw;
    height: auto;
    border-radius: .5rem
}

@media only screen and (min-width: 1200px) {
    #inputImage {
        width: 60vw;
    }
  }